html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: sans-serif;
}

body {
  box-sizing: border-box;
  background-color: transparent;
}

nav ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1212px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  height: 108px;
  background-color: #fff;
}
.header .header__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header .header__container .header__logo {
  max-width: 80px;
  max-height: 80px;
  margin-right: 65px;
}
.header .header__container ul {
  display: flex;
  list-style: none;
}
.header .header__container ul li {
  margin-right: 25px;
}
.header .header__container ul li a {
  text-decoration: none;
  color: #303030;
  position: relative;
}
.header .header__container ul li .active {
  color: #0182F9;
}
.header .header__container ul li .active::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 4px;
  background-color: #0182F9;
  display: block;
  position: absolute;
  bottom: -45px;
}
.header .header__container ul li:last-child {
  margin: 0;
}

.comics {
  text-align: center;
  background-color: #1C1C1C;
  padding: 80px 0 30px 0;
}
.comics__items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.comics a {
  text-decoration: none;
}
.comics__item {
  max-width: 180px;
  margin: 0 10px 30px 10px;
  text-decoration: none;
  list-style: none;
}
.comics__poster {
  height: 180px;
  overflow: hidden;
  transition: all linear 0.2s;
  position: relative;
}
.comics__poster span {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  border: 3px solid #0182F9;
  opacity: 0;
  z-index: 4;
  transition: ease-in-out 0.2s;
  color: #fff;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.342);
}
.comics__poster::after {
  content: "";
  position: absolute;
  background-color: rgba(2, 2, 2, 0.726);
  opacity: 0;
  transition: all linear 0.2s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.comics__poster:hover::after {
  opacity: 100;
}
.comics__poster:hover span {
  opacity: 1;
}
.comics__title {
  color: #fff;
  margin-top: 20px;
}
.comics__btn {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 50px;
  background-color: #0182F9;
  transition: all ease-in-out 0.3s;
}
.comics__btn:hover {
  filter: brightness(1.4);
}

.footer {
  background-color: #303030;
  border-top: solid 17px #0182F9;
  padding: 30px 0;
}
.footer .footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .sign-up a {
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 15px 14px;
  border: 2px solid #0182F9;
  transition: all ease-in 0.2s;
}
.footer .sign-up a:hover {
  background-color: #0182F9;
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .social__text {
  margin-right: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0182F9;
}
.footer .social__link {
  margin-right: 15px;
}
.footer .social__link:last-child {
  margin-right: 0;
}
.footer .social__link img {
  transition: all ease-in 0.2s;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 100%;
}
.footer .social__link img:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 7px -4px #000000, 3px 3px 7px 3px rgba(0, 0, 0, 0);
  filter: brightness(1.5);
}

.comics-page__banner {
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  width: 100%;
  border-bottom: 80px solid #0182F9;
}
.comics-page__poster {
  position: relative;
  width: 190px;
  height: 290px;
  border: 3px solid #fff;
  transform: translateY(170px);
}
.comics-page__poster a {
  position: absolute;
  bottom: -1px;
  background: #02A8DA;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  padding: 4px 1px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}
.comics-page__poster span {
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 0;
  background: #02A8DA;
  color: #fff;
  text-transform: uppercase;
  padding: 3px;
}

.page-info {
  display: flex;
  padding: 120px 0;
}
.page-info__items {
  margin-right: 40px;
}
.page-info__title {
  font-size: 25px;
  text-transform: uppercase;
  color: #103E5F;
  margin-bottom: 30px;
}
.page-info__bar {
  background: #55BA5A;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #459848;
  margin-bottom: 20px;
}
.page-info__text {
  line-height: 28px;
  color: #83797c;
}
.page-info__prom {
  position: relative;
}
.page-info__prom span {
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  right: 0;
  color: #83797c;
}

.info-bar__price {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  text-align: end;
  padding: 15px 25px;
  color: #fff;
}
.info-bar__price span {
  color: #B2F582;
}
.info-bar__modal {
  border-left: 2px solid #459848;
  padding: 15px 25px;
  color: #fff;
}